.menu-dropdown-container {
    position: relative;
    margin-right: 20px;
}

.menu-list {
    position: absolute;
    top: 100%;
    /* Bottom of button */
    right: 0;
    margin-left: -150px;
    /* More to the left */
}

.form-control {
    width: 250px;
}

@media only screen and (max-width: 600px) {
    .form-control {
        width: 100%;
    }
}

.role-label {
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

.bug-table {
    height: auto;
    width: auto;
    padding: 20px;
}

.bug-report {
    height: auto;
    width: 100%;
    display: inline-block;
    padding: 20px;
}

.report-left {
    display: flex;
    height: 100%;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    float: left;
}

.report-right {
    display: flex;
    height: 100%;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    float: right;
}

.service {
    margin-top: 10px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.date {
    margin-top: 10px;
}

.status {
    margin-top: 10px;
}
