.filter {
    margin-top: 25px;
    width: 50%;
    display: inline-block;
}

.btn {
    margin-top: 5px;
    width: 50%;
    display: inline-block;
    float: right;
}

.filter-field{
    padding: 25px;
    font-size: 25px;
}

.new-bug-btn {
    width: auto;
    padding: 15px;
    font-size: 25px;
}
