.form {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 100px;
}

.form-group {
    margin-bottom: 30px;
    font-size: 20px;
}

.left p {
    margin: auto;
    font-size: 24px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .left p {
        font-size: 18px;
    }

    label {
        font-size: 16px;
    }
}
