
/* COLORS */
.white {
    background-color: #FFFFFF;
}

.black-text {
    color: #000000;
}

.light-gray {
    background-color: #EFEFEF;
}

.light-gray-text {
    color: #EFEFEF;
}

.dark-gray {
    background-color: #C4C4C4;
}

.dark-gray-text {
    color: #707070;
}

.darker-gray-text {
    color: #454545;
}

.blue {
    background-color: #2F80ED;
}

.blue-text {
    color: #2F80ED;
}

.rounded {
    border-radius: 8px;
}

/* NAVBAR */
.navbar {
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(236, 236, 236);
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    margin-left: -10px;
    pointer-events: none;
}

.navbar-right {
    margin-top: 17px;
}

.navbar-right a {
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .navbar-brand {
        font-size: 18px;
    }

    .btn-primary {
        font-size: 12px;
        padding: 8px;
    }

    .btn-secondary {
        font-size: 12px;
        padding: 8px;
    }
}

/* HEADER */
.header {
    height: auto;
    width: 100%;
    display: inline-block;
}

.left {
    display: flex;
    height: 70px;
    width: auto;
    align-items: center;
    justify-content: flex-end;
    float: left;
}

.right {
    display:flex;
    height: 70px;
    width: auto;
    align-items: center;
    justify-content: flex-end;
    float: right;
}

.center-text {
    text-align: center;
    margin-top: 20px;
}

.error-message {
    font-weight: bold;
    color: #ee1414;
}
